@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*==========RETURN AND CHECKOUT BTNS==========*/
.sing-prod-header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.prod-upper-btn {
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #c4c4c4;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    font-size: 1.2rem;
    margin: 10px 0 30px;
    padding: 10px;
    box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.12), 
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.prod-upper-btn:hover {
    background-color: #dedede;
    color: black;
}

.prod-upper-btn:focus {
    background-color: #c4c4c4; 
    color: white;
}

.btn-1 {
    padding-left: 39vw;
    border-right: 1px solid black;
}

.btn-2 {
    padding-right: 40vw;
    border-left: 1px solid black;
}

/*==========SING PROD PAGE==========*/
.sing-prod-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 70vh;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
}

.sing-prod-h1 {
    text-transform: uppercase;
}

.sing-prod-p {
    font-size: 1rem;
    padding: 5px;
    margin: 1rem;
}

.sing-prod-input {
    height: 1.2rem;
}

.box {
    width: 50%;
    padding: 1rem;
}

.box-2 {
    height: 100%;
    text-align: center;
}

.prod-img {
    width: 100%;
    height: 50vh;
}

/*==========ADD BTN MOVED TO PRODUCT.JS AS STYLED COMPONENT (also changed in appearance to match Products.js)==========*/
/* .sing-prod-add-btn {
    width: 80%;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    background-color: black;
    color: #fff;
} */

/* .sing-prod-add-btn:hover {
    background-color: #ffd700;
    color: black;
}

.sing-prod-add-btn:focus {
    background-color: black; 
    color: #fff;
} */








