/*==========CHECKOUT PAGE==========*/
.checkout-container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #fff;
    padding-top: 10px;
}

.checkout-main-cart {
    width: 60%;
    padding: 0.75rem 2rem 2rem 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 2rem;
    /* border: 2px solid green; */
}

.checkout-h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/*==========CHECKOUT EMPTY CART==========*/
.checkout-empty {
    background-color: #ffd700;
    opacity: 0.8;
    width: 65%;
    margin: auto;
    margin-top: 5rem;
    padding: 5%;
    text-align: center;
    border-radius: 5px;
}

.empty-cart-h1, .empty-cart-p {
    padding-bottom: 1rem;
    opacity: 2;
}

.empty-cart-return-btn {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    background-color: #fff;
}

.empty-cart-return-btn:hover {
    background-color: black;
    color: #fff;
}

.empty-cart-return-btn:focus {
    background-color: #fff; 
    color: black;
}

/*==========CHECKOUT NOT EMPTY CART==========*/
.cart-wrapper {
    border: 10px solid #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
}

.cart-box {
    flex: 1;
    text-align: center;
   
}

.box-1-img {
    width: 100%;
    height: auto;
}

.not-empty-cart-h1 {
    margin-bottom: 0.5rem;
}

.checkout-cart-qty-btn {
    border: 0;
    background-color: #fff;
    font-size: 1rem;
}

.plus {
    color: green;
}

.minus {
    color: red;
}

.checkout-cart-remove-btn {
    cursor: pointer;
    border: 0;
    font-size: 2rem;
    background-color: #fff;
    color: red;
}

.checkout-cart-footer {
    border-top: 2.5px solid #ffd700;
    border-bottom: 1px solid #ffd700;
    padding: 10px;
    margin-top: 1rem;
}

/*==========CHECKOUT FORM==========*/
.checkout-aside-form {
    width: 40%;
    padding: 0.75rem 2rem 2rem 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 2rem;
}
.checkout-form-input[type='text'], .checkout-form-input[type='select'], textarea {
    display: block;
    width: 90%;
    margin: auto;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 1rem;
    margin: 10px 0 10px 0;
} 

input:focus, textarea:focus {
    outline: none;
    box-shadow: 
    0 2px 2px rgba(0,0,0,0.1),
    0 4px 4px rgba(0,0,0,0.1),
    0 6px 6px rgba(0,0,0,0.1),
    0 8px 8px rgba(0,0,0,0.1);
}

.return-btn, .checkout-order-btn {
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #c4c4c4;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    font-size: 1.2rem;
    margin: 10px 0 30px;
    padding: 10px;
    box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.12), 
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.checkout-order-btn:hover {
    background-color: #dedede;
    color: black;
}

.checkout-order-btn:focus {
    background-color: #c4c4c4; 
    color: white;
}



